.heading{
    font-size: 23px;
    width: 90%;
    margin: 0px;
    box-shadow: 8px 8px 55px whitesmoke;
    background-color: aqua;
    border-radius: 20px;
}
.heading_div{
float: none;
background: whitesmoke;
padding: 10px;
border-radius: 20px;
color: black;
box-shadow: 5px 5px 18px grey;
}
.heading_div2{
    font-size: 18px;
}
.result_p_tag{
    box-shadow: 5px 5px 7px whitesmoke;
    font-size: 20px;
}
.copy_right_footer{
    position: fixed;
    color: white;
    background-color: grey;
    bottom: 0;
    width: 100%;
    line-height: 3;
    text-align: center;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    margin-top: 150px;
}
